@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@media (max-width: 640px) {
  .flex-wrap {
    word-break: break-word;
  }
}